<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="index.css" />
</head>
<body>
  <div class="meme-container">
    <div class="meme-gen-container">
      <div class="w-50 p-3">
        <div class="meme-photo" 
        style="background-image: url('https://imgflip.com/s/meme/Evil-Kermit.jpg')">
          <div class="text-box-1" 
                style="
                top: 60px; 
                left: 10px">
            top here
          </div>
          <div class="text-box-1" 
                style="
                top: 340px; 
                left: 10px">
            bottom here
          </div>
        </div>
        
      </div>
      <div class="w-50 pe-3">
        <div class="pt-3"><button>Upload new template</button></div>
        <div class="d-flex flex-column align-items-center mt-3 pe-3">
          <div class="all-memes">
            <img src="https://i.imgflip.com/3pdf2w.png" alt= "Bernie Sanders" />

            <!-- top: 20, 110 bottom: 380, 110  -->
            <img src="https://imgflip.com/s/meme/Two-Buttons.jpg" alt="Two Buttons" />

            <!-- top: 60, 310, bottom: 240, 260 -->
            <img src="https://imgflip.com/s/meme/Running-Away-Balloon.jpg" alt="Running Away Balloon" />

            <!-- top: 10, 60, bottom: 380, 60 -->
            <img src="https://imgflip.com/s/meme/Buff-Doge-vs-Cheems.png" alt="Buff Doge vs. Cheems" />

            <!-- top: 10, 0, bottom: 390, 0 -->
            <img src="https://imgflip.com/s/meme/X-X-Everywhere.jpg" alt="X, X Everywhere" />

            <!-- top: 100, 250, bottom: 250, 250 -->
            <img src="https://imgflip.com/s/meme/Tuxedo-Winnie-The-Pooh.png" alt="Tuxedo Winnie the Pooh" />

            <!-- top: 210, 60 bottom: 420, 60 -->
            <img src="https://imgflip.com/s/meme/Hide-the-Pain-Harold.jpg" alt="Hide the Pain Harold" />

            <!-- top: 20, 0 bottom: 390, 0 -->
            <img src="https://imgflip.com/s/meme/One-Does-Not-Simply.jpg" alt="One Does Not Simply" />

            <!-- top: 10, 0 bottom: 400, 0 -->
            <img src="https://imgflip.com/s/meme/Blank-Nut-Button.jpg" alt="Blank Nut Button" />

            <!-- top: 30, 0 bottom: 380, 0 -->
            <img src="https://imgflip.com/s/meme/Roll-Safe-Think-About-It.jpg" alt="Roll Safe Thinking About It" />

            <!-- top: 20, 0 bottom: 390, 0 -->
            <img src="https://imgflip.com/s/meme/Mocking-Spongebob.jpg" alt="Mocking Spongebob" />

            <!-- top: 140, 0 bottom: 420, 0 -->
            <img src="https://imgflip.com/s/meme/Monkey-Puppet.jpg" alt="Monkey Puppet" />

            <!-- top: 140, 280 bottom: 380, 100 -->
            <img src="https://imgflip.com/s/meme/Left-Exit-12-Off-Ramp.jpg" alt="Left Exit 12 Off Ramp" />

            <!-- top: 100, 280 bottom: 280, 280 -->
            <img src="https://imgflip.com/s/meme/Drake-Hotline-Bling.jpg" alt="Drake Hotline Bling" />

            <!-- top: 30, 60 bottom: 0, 300 -->
            <img src="https://imgflip.com/s/meme/Batman-Slapping-Robin.jpg" alt="Batman Slapping Robin" />

            <!-- top: 80, 10 bottom: 340, 250 -->
            <img src="https://imgflip.com/s/meme/This-Is-Fine.jpg" alt="This is Fine" />

            <!-- top: 40, 320 bottom: 340, 250 -->
            <img src="https://i.imgflip.com/2reqtg.png" alt="Flex Tape" />

top: 
            <img src="https://imgflip.com/s/meme/Evil-Kermit.jpg" alt="Evil Kermit" />
            <img src="https://i.imgflip.com/46hhvr.jpg" alt="Mother Ignoring Kid Drowning in a Pool" />
            <img src="https://imgflip.com/s/meme/Leonardo-Dicaprio-Cheers.jpg" alt="Leonardo Decaprio Cheers" />
            <img src="https://imgflip.com/s/meme/Spongebob-Ight-Imma-Head-Out.jpg" alt="Spongebob Ight Imma Head Out" />
            <img src="https://imgflip.com/s/meme/Futurama-Fry.jpg" alt="Futurama Fry" />
            <img src="https://i.imgflip.com/u0pf0.jpg" alt="Disappointed Black Guy" />
            <img src="https://imgflip.com/s/meme/Success-Kid.jpg" alt="Success Kid" />
            <img src="https://i.imgflip.com/1itoun.jpg" alt="Charlie Conspiracy" />
            <img src="https://i.imgflip.com/1c81c1.jpg" alt="Math Lady" />
            <img src="https://i.imgflip.com/34vt4i.jpg" alt="Brain Before Sleep" />
            <img src="https://i.imgflip.com/2ji8hx.jpg" alt="The Office Congratulations" />
            <img src="https://imgflip.com/s/meme/That-Would-Be-Great.jpg" alt="That Would Be Great" />
            <img src="https://i.imgflip.com/bwu6w.jpg" alt="C'mon Do Something" />
            <img src="https://imgflip.com/s/meme/Imagination-Spongebob.jpg" alt="Imagination Spongebob" />
            <img src="https://i.imgflip.com/1hhv9m.jpg" alt="Obama Medal" />
            <img src="https://imgflip.com/s/meme/First-World-Problems.jpg" alt="First World Problems" />
            <img src="https://i.imgflip.com/39osmx.png" alt="Kombucha Girl" />
          </div>
          <span style="font-size: 10pt; color: #717171">scroll left and right for more images</span>
        </div>
        <div class="text-input">
          <div class="text-input-left"><textarea type="text" placeholder="Top text here ..."></textarea></div>
          <div class="text-input-right">right</div>
        </div>
        <div class="text-input mt-3">
          <div class="text-input-left"><textarea type="text" placeholder="Bottom text here ..."></textarea></div>
          <div class="text-input-right">right</div>
        </div>
        <div class="mt-3">
          <button class="submit-btn">Generate</button>
          <button class="ms-3" style="border-radius: 10px; padding: 10px">Reset</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>